/* You can remove these code below*/
:root {
  --bg: #191a2e;
  --primary: #08aeea;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --gray: #333;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

html {
  background-color: var(--bg);
}

* {
  box-sizing: border-box;
}

input,
button,
textarea {
  border: 0;
  outline: none;
}

/* Main code */

.dropdown {
  --primary: #de4b3e;
  --secondary: #c74237;
  margin: 10% auto;
  width: 600px;
  position: relative;
  font-family: var(--font);
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 4px;
}

.dropdown__select {
  border-radius: inherit;
}

.dropdown__list {
  margin-top: 2.5rem;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
}

.dropdown__list:before {
  content: "";
  height: 2.5rem;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
}

.dropdown:hover .dropdown__list {
  display: block;
}

.dropdown__select,
.dropdown__item {
  padding: 2rem;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown__item {
  transition: background-color 0.2s linear;
  position: relative;
  left: -35px;
  width: 106%;
}

.dropdown__item:first-child {
  border-radius: 4px 4px 0 0;
  position: relative;
}

.dropdown__item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primary);
  transform: translateY(-100%);
  transition: border-color 0.2s linear;
}

.dropdown__item:first-child:hover:before {
  border-bottom-color: var(--secondary);
}

.dropdown__item:last-child {
  border-radius: 0 0 4px 4px;
}

.dropdown__item:hover {
  background-color: var(--secondary);
}

@media screen and (max-width: 410px) {
  .dropdown {
    width: 400px;
  }
}
